

@mixin FlexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin BoldText {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

@mixin noSelect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

@mixin blockStyle {
    width: 95%;
    margin-bottom: 4rem;
}

@mixin blockTitle {
    .block-title{
        display: block;
        @include BoldText();
        font-size: 20px;
        margin-bottom: 1.5rem;

       @media only screen and (max-width: 991px) {
            font-size: 18px;
        }
    }
}